In [92]:
import streamlit as st
import requests
import pandas as pd
import plotly.express as px
from io import StringIO
import os

In [93]:
censo2023 = pd.read_csv('censo2023_sem_nulos.csv')

In [94]:
censo2023 = censo2023.drop(['Unnamed: 0', 'index'], axis=1)

In [95]:
censo2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162189 entries, 0 to 162188
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   UF                             162189 non-null  object
 1   NOME MUNICÍPIO                 162189 non-null  object
 2   POSSUI INTERNET                162189 non-null  bool
 3   INTERNET BANDA LARGA           162189 non-null  bool
 4   PROF MONITORES                 162189 non-null  int64
 5   AEE                            162189 non-null  int64
 6   ATIVIDADE COMPLEMENTAR         162189 non-null  int64
 7   ESCOLARIZACAO                  162189 non-null  bool
 8   ENSINO INFANTIL                162189 non-null  bool
 9   ENSINO FUNDAMENTAL             162189 non-null  bool
 10  ENSINO MÉDIO                   162189 non-null  bool
 11  ENSINO PROFISIONALIZANTE       162189 non-null  bool
 12  ENSINO TÉC. PROF.              162189 non-null  bool
 13  EJA                            162189 non-null  bool
 14  EDUCAÇÃO ESPECIAL              162189 non-null  bool
 15  QTDE MATRÍCULAS INF            162189 non-null  int64
 16  QTDE MATRÍCULAS INF_PRE        162189 non-null  int64
 17  QTDE MATRÍCULAS FUND           162189 non-null  int64
 18  QTDE MATRÍCULAS MED            162189 non-null  int64
 19  QTDE MATRÍCULAS MED_PROP_NS    162189 non-null  int64
 20  QTDE MATRÍCULAS MED_CT         162189 non-null  int64
 21  QTDE MATRÍCULAS MED_CT_NS      162189 non-null  int64
 22  QTDE MATRÍCULAS MED_NM         162189 non-null  int64
 23  QTDE MATRÍCULAS PROF           162189 non-null  int64
 24  QTDE MATRÍCULAS PROF_TEC       162189 non-null  int64
 25  QTDE MATRÍCULAS PROF_TEC_CONC  162189 non-null  int64
 26  QTDE MATRÍCULAS PROF_TEC_SUBS  162189 non-null  int64
 27  QTDE MATRÍCULAS PROF_FIC_CONC  162189 non-null  int64
dtypes: bool(10), int64(16), object(2)
memory usage: 23.8+ MB

In [96]:
censo2023.head()

,UF,NOME MUNICÍPIO,POSSUI INTERNET,INTERNET BANDA LARGA,PROF MONITORES,AEE,ATIVIDADE COMPLEMENTAR,ESCOLARIZACAO,ENSINO INFANTIL,ENSINO FUNDAMENTAL,...,QTDE MATRÍCULAS MED,QTDE MATRÍCULAS MED_PROP_NS,QTDE MATRÍCULAS MED_CT,QTDE MATRÍCULAS MED_CT_NS,QTDE MATRÍCULAS MED_NM,QTDE MATRÍCULAS PROF,QTDE MATRÍCULAS PROF_TEC,QTDE MATRÍCULAS PROF_TEC_CONC,QTDE MATRÍCULAS PROF_TEC_SUBS,QTDE MATRÍCULAS PROF_FIC_CONC
0,RO,PORTO VELHO,True,True,1,1,0,True,False,True,...,0,0,0,0,0,0,0,0,0,0
1,RO,PORTO VELHO,True,True,0,1,0,True,True,False,...,0,0,0,0,0,0,0,0,0,0
2,RO,PORTO VELHO,True,True,0,0,0,True,True,True,...,354,0,0,0,0,0,0,0,0,0
3,RO,PORTO VELHO,True,True,0,0,0,True,True,True,...,0,0,0,0,0,0,0,0,0,0
4,RO,PORTO VELHO,True,True,5,0,0,True,True,True,...,0,0,0,0,0,0,0,0,0,0

In [97]:
regioes_map = {
        'AC': 'NORTE', 'AP': 'NORTE', 'AM': 'NORTE', 'PA': 'NORTE',
        'RO': 'NORTE', 'RR': 'NORTE', 'TO': 'NORTE',
        'AL': 'NORDESTE', 'BA': 'NORDESTE', 'CE': 'NORDESTE', 'MA': 'NORDESTE',
        'PB': 'NORDESTE', 'PE': 'NORDESTE', 'PI': 'NORDESTE', 'RN': 'NORDESTE',
        'SE': 'NORDESTE',
        'DF': 'CENTRO-OESTE', 'GO': 'CENTRO-OESTE', 'MT': 'CENTRO-OESTE', 'MS': 'CENTRO-OESTE',
        'ES': 'SUDESTE', 'MG': 'SUDESTE', 'RJ': 'SUDESTE', 'SP': 'SUDESTE',
        'PR': 'SUL', 'RS': 'SUL', 'SC': 'SUL'
}

In [100]:
# Exclui as colunas especificadas
colunas_excluir = ['QTDE MATRÍCULAS INF', 'QTDE MATRÍCULAS INF_PRE', 'QTDE MATRÍCULAS FUND', 
                    'QTDE MATRÍCULAS MED', 'QTDE MATRÍCULAS MED_PROP_NS', 'QTDE MATRÍCULAS MED_CT', 
                    'QTDE MATRÍCULAS MED_CT_NS', 'QTDE MATRÍCULAS MED_NM', 'QTDE MATRÍCULAS PROF', 
                    'QTDE MATRÍCULAS PROF_TEC', 'QTDE MATRÍCULAS PROF_TEC_CONC', 'QTDE MATRÍCULAS PROF_TEC_SUBS', 
                    'QTDE MATRÍCULAS PROF_FIC_CONC']
# Somando as colunas especificadas
soma_colunas = censo2023[colunas_excluir].sum(axis=1)  # Soma em cada linha

# Adicionando a soma como uma nova coluna no DataFrame
censo2023['QTDE MATRÍCULAS'] = soma_colunas

# Excluindo as colunas originais
censo2023.drop(columns=colunas_excluir, inplace=True)
censo2023.head()

,UF,NOME MUNICÍPIO,POSSUI INTERNET,INTERNET BANDA LARGA,PROF MONITORES,AEE,ATIVIDADE COMPLEMENTAR,ESCOLARIZACAO,ENSINO INFANTIL,ENSINO FUNDAMENTAL,ENSINO MÉDIO,ENSINO PROFISIONALIZANTE,ENSINO TÉC. PROF.,EJA,EDUCAÇÃO ESPECIAL,QTDE MATRÍCULAS
0,RO,PORTO VELHO,True,True,1,1,0,True,False,True,False,False,False,False,True,69
1,RO,PORTO VELHO,True,True,0,1,0,True,True,False,False,False,False,False,True,450
2,RO,PORTO VELHO,True,True,0,0,0,True,True,True,True,False,False,False,True,1269
3,RO,PORTO VELHO,True,True,0,0,0,True,True,True,False,False,False,False,True,51
4,RO,PORTO VELHO,True,True,5,0,0,True,True,True,False,False,False,False,True,726

In [101]:
# Agora o DataFrame df contém apenas a coluna 'QTDE DE MATRÍCULAS' com as somas das colunas especificadas.
consolidado_matriculas = censo2023
consolidado_matriculas

,UF,NOME MUNICÍPIO,POSSUI INTERNET,INTERNET BANDA LARGA,PROF MONITORES,AEE,ATIVIDADE COMPLEMENTAR,ESCOLARIZACAO,ENSINO INFANTIL,ENSINO FUNDAMENTAL,ENSINO MÉDIO,ENSINO PROFISIONALIZANTE,ENSINO TÉC. PROF.,EJA,EDUCAÇÃO ESPECIAL,QTDE MATRÍCULAS
0,RO,PORTO VELHO,True,True,1,1,0,True,False,True,False,False,False,False,True,69
1,RO,PORTO VELHO,True,True,0,1,0,True,True,False,False,False,False,False,True,450
2,RO,PORTO VELHO,True,True,0,0,0,True,True,True,True,False,False,False,True,1269
3,RO,PORTO VELHO,True,True,0,0,0,True,True,True,False,False,False,False,True,51
4,RO,PORTO VELHO,True,True,5,0,0,True,True,True,False,False,False,False,True,726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162184,DF,BRASÍLIA,True,True,0,0,0,True,True,True,False,False,False,False,False,168
162185,DF,BRASÍLIA,True,True,1,0,0,True,True,True,False,False,False,False,True,424
162186,DF,BRASÍLIA,True,True,0,0,0,True,True,True,True,False,False,False,True,411
162187,DF,BRASÍLIA,True,True,0,0,0,True,True,True,False,False,False,False,True,588
162188,DF,BRASÍLIA,True,True,0,0,0,True,False,True,True,False,False,False,True,218

In [102]:
consolidado_matriculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162189 entries, 0 to 162188
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   UF                        162189 non-null  object
 1   NOME MUNICÍPIO            162189 non-null  object
 2   POSSUI INTERNET           162189 non-null  bool
 3   INTERNET BANDA LARGA      162189 non-null  bool
 4   PROF MONITORES            162189 non-null  int64
 5   AEE                       162189 non-null  int64
 6   ATIVIDADE COMPLEMENTAR    162189 non-null  int64
 7   ESCOLARIZACAO             162189 non-null  bool
 8   ENSINO INFANTIL           162189 non-null  bool
 9   ENSINO FUNDAMENTAL        162189 non-null  bool
 10  ENSINO MÉDIO              162189 non-null  bool
 11  ENSINO PROFISIONALIZANTE  162189 non-null  bool
 12  ENSINO TÉC. PROF.         162189 non-null  bool
 13  EJA                       162189 non-null  bool
 14  EDUCAÇÃO ESPECIAL         162189 non-null  bool
 15  QTDE MATRÍCULAS           162189 non-null  int64
dtypes: bool(10), int64(4), object(2)
memory usage: 9.0+ MB

In [103]:
consolidado_matriculas.to_csv('consolidade_matriculas.csv')