# Preparação dos dados

In [48]:
import streamlit as st
import requests
import pandas as pd
import plotly.express as px
from io import StringIO
import os

In [49]:
dados_2024 = pd.read_csv('df_trat_2024.csv')
dados_2025 = pd.read_csv('df_trat_2025.csv')

In [50]:
dados_2024.head()

,SIGLA UF,NOME MUNICÍPIO,DEPENDÊNCIA ADMINISTRATIVA,CARGO OU FUNÇÃO DO CURSISTA,FORMAÇÃO,SITUAÇÃO ATUAL
0,PA,ANANINDEUA,ESTADUAL,DIRETOR(A) DE ESCOLA,Especialização,MATRICULADO
1,PI,PIRIPIRI,MUNICIPAL,DIRETOR(A) DE ESCOLA,Especialização,MATRICULADO
2,PA,TUCURUÍ,MUNICIPAL,REPRESENTANTE OU TÉCNICO DA SECRETARIA DE EDUC...,Especialização,MATRICULADO
3,RN,SÃO JOSÉ DE MIPIBU,MUNICIPAL,DIRETOR(A) DE ESCOLA,Especialização,MATRICULADO
4,PE,GARANHUNS,MUNICIPAL,REPRESENTANTE OU TÉCNICO DA SECRETARIA DE EDUC...,Especialização,MATRICULADO

In [51]:
dados_2025.head()

,UF,Nome UF Municipio,Dependencia Administrativa,Cargo Funcao Cursista,Formacao Cursista,STATUS
0,AC,Jordão,MUNICIPAL,Técnico da Secretaria de Educação,Superior Completo Pedagogia,NaN
1,AC,Jordão,MUNICIPAL,Técnico da Secretaria de Educação,Superior Completo Pedagogia,NaN
2,AC,Plácido de Castro,MUNICIPAL,Técnico da Secretaria de Educação,Especialização,NaN
3,AC,Plácido de Castro,MUNICIPAL,Diretor Escolar,Especialização,NaN
4,AM,Alvarães,MUNICIPAL,Técnico da Secretaria de Educação,Superior Completo Licenciatura,NaN

In [52]:
dados_2024["DEPENDÊNCIA ADMINISTRATIVA"].unique()

array(['ESTADUAL', 'MUNICIPAL'], dtype=object)

In [53]:
dados_2024["CARGO OU FUNÇÃO DO CURSISTA"].unique()

array(['DIRETOR(A) DE ESCOLA',
       'REPRESENTANTE OU TÉCNICO DA SECRETARIA DE EDUCAÇÃO.'],
      dtype=object)

In [54]:
dados_2024["FORMAÇÃO"].unique()

array(['Especialização', 'Mestrado', 'Doutorado', 'Ensino Superior'],
      dtype=object)

In [55]:
dados_2024["SITUAÇÃO ATUAL"].unique()

array(['MATRICULADO', 'DESISTENTE'], dtype=object)

In [56]:
dados_2024["CARGO OU FUNÇÃO DO CURSISTA"] = dados_2024["CARGO OU FUNÇÃO DO CURSISTA"].replace({
    "DIRETOR(A) DE ESCOLA": "DIRETOR(A)",
    "REPRESENTANTE OU TÉCNICO DA SECRETARIA DE EDUCAÇÃO": "Técnico da Secretaria de Educação"
})

In [57]:
dados_2024["CARGO OU FUNÇÃO DO CURSISTA"] = dados_2024["CARGO OU FUNÇÃO DO CURSISTA"].str.replace(
    r'^REPRESENTANTE OU TÉCNICO DA SECRETARIA DE EDUCAÇÃO.*$', 
    'Técnico da Secretaria de Educação', 
    regex=True
)

In [58]:
dados_2024 = dados_2024.apply(lambda col: col.str.upper() if col.dtype == 'object' else col)

In [59]:
dados_2024.head()

,SIGLA UF,NOME MUNICÍPIO,DEPENDÊNCIA ADMINISTRATIVA,CARGO OU FUNÇÃO DO CURSISTA,FORMAÇÃO,SITUAÇÃO ATUAL
0,PA,ANANINDEUA,ESTADUAL,DIRETOR(A),ESPECIALIZAÇÃO,MATRICULADO
1,PI,PIRIPIRI,MUNICIPAL,DIRETOR(A),ESPECIALIZAÇÃO,MATRICULADO
2,PA,TUCURUÍ,MUNICIPAL,TÉCNICO DA SECRETARIA DE EDUCAÇÃO,ESPECIALIZAÇÃO,MATRICULADO
3,RN,SÃO JOSÉ DE MIPIBU,MUNICIPAL,DIRETOR(A),ESPECIALIZAÇÃO,MATRICULADO
4,PE,GARANHUNS,MUNICIPAL,TÉCNICO DA SECRETARIA DE EDUCAÇÃO,ESPECIALIZAÇÃO,MATRICULADO

In [60]:
dados_2024.to_csv("dados_2024.csv", index=False)

### Dados 2025

In [61]:
dados_2025.head()

,UF,Nome UF Municipio,Dependencia Administrativa,Cargo Funcao Cursista,Formacao Cursista,STATUS
0,AC,Jordão,MUNICIPAL,Técnico da Secretaria de Educação,Superior Completo Pedagogia,NaN
1,AC,Jordão,MUNICIPAL,Técnico da Secretaria de Educação,Superior Completo Pedagogia,NaN
2,AC,Plácido de Castro,MUNICIPAL,Técnico da Secretaria de Educação,Especialização,NaN
3,AC,Plácido de Castro,MUNICIPAL,Diretor Escolar,Especialização,NaN
4,AM,Alvarães,MUNICIPAL,Técnico da Secretaria de Educação,Superior Completo Licenciatura,NaN

In [62]:
dados_2025 = dados_2025.rename(columns={
    "UF": "SIGLA UF",
    "Nome UF Municipio": "NOME MUNICÍPIO",
    "Dependencia Administrativa": "DEPENDÊNCIA ADMINISTRATIVA",
    "Cargo Funcao Cursista": "CARGO OU FUNÇÃO DO CURSISTA",
    "Formacao Cursista": "FORMAÇÃO",
    "STATUS": "SITUAÇÃO ATUAL"
})
dados_2025.head()

,SIGLA UF,NOME MUNICÍPIO,DEPENDÊNCIA ADMINISTRATIVA,CARGO OU FUNÇÃO DO CURSISTA,FORMAÇÃO,SITUAÇÃO ATUAL
0,AC,Jordão,MUNICIPAL,Técnico da Secretaria de Educação,Superior Completo Pedagogia,NaN
1,AC,Jordão,MUNICIPAL,Técnico da Secretaria de Educação,Superior Completo Pedagogia,NaN
2,AC,Plácido de Castro,MUNICIPAL,Técnico da Secretaria de Educação,Especialização,NaN
3,AC,Plácido de Castro,MUNICIPAL,Diretor Escolar,Especialização,NaN
4,AM,Alvarães,MUNICIPAL,Técnico da Secretaria de Educação,Superior Completo Licenciatura,NaN

In [63]:
dados_2024.head()

,SIGLA UF,NOME MUNICÍPIO,DEPENDÊNCIA ADMINISTRATIVA,CARGO OU FUNÇÃO DO CURSISTA,FORMAÇÃO,SITUAÇÃO ATUAL
0,PA,ANANINDEUA,ESTADUAL,DIRETOR(A),ESPECIALIZAÇÃO,MATRICULADO
1,PI,PIRIPIRI,MUNICIPAL,DIRETOR(A),ESPECIALIZAÇÃO,MATRICULADO
2,PA,TUCURUÍ,MUNICIPAL,TÉCNICO DA SECRETARIA DE EDUCAÇÃO,ESPECIALIZAÇÃO,MATRICULADO
3,RN,SÃO JOSÉ DE MIPIBU,MUNICIPAL,DIRETOR(A),ESPECIALIZAÇÃO,MATRICULADO
4,PE,GARANHUNS,MUNICIPAL,TÉCNICO DA SECRETARIA DE EDUCAÇÃO,ESPECIALIZAÇÃO,MATRICULADO

In [64]:
dados_2025["CARGO OU FUNÇÃO DO CURSISTA"].unique()

array(['Técnico da Secretaria de Educação', 'Diretor Escolar'],
      dtype=object)

In [65]:
dados_2024["CARGO OU FUNÇÃO DO CURSISTA"].unique()

array(['DIRETOR(A)', 'TÉCNICO DA SECRETARIA DE EDUCAÇÃO'], dtype=object)

In [66]:
# Substituir os valores na coluna "CARGO OU FUNÇÃO DO CURSISTA"
dados_2025["CARGO OU FUNÇÃO DO CURSISTA"] = dados_2025["CARGO OU FUNÇÃO DO CURSISTA"].replace({
    "Diretor Escolar": "DIRETOR(A)",
    "Técnico da Secretaria de Educação": "TÉCNICO DA SECRETARIA DE EDUCAÇÃO"
})

# Converter todas as colunas do DataFrame para maiúsculo (apenas as colunas do tipo string)
dados_2025 = dados_2025.apply(lambda col: col.str.upper() if col.dtype == 'object' else col)
dados_2025.head()

,SIGLA UF,NOME MUNICÍPIO,DEPENDÊNCIA ADMINISTRATIVA,CARGO OU FUNÇÃO DO CURSISTA,FORMAÇÃO,SITUAÇÃO ATUAL
0,AC,JORDÃO,MUNICIPAL,TÉCNICO DA SECRETARIA DE EDUCAÇÃO,SUPERIOR COMPLETO PEDAGOGIA,NaN
1,AC,JORDÃO,MUNICIPAL,TÉCNICO DA SECRETARIA DE EDUCAÇÃO,SUPERIOR COMPLETO PEDAGOGIA,NaN
2,AC,PLÁCIDO DE CASTRO,MUNICIPAL,TÉCNICO DA SECRETARIA DE EDUCAÇÃO,ESPECIALIZAÇÃO,NaN
3,AC,PLÁCIDO DE CASTRO,MUNICIPAL,DIRETOR(A),ESPECIALIZAÇÃO,NaN
4,AM,ALVARÃES,MUNICIPAL,TÉCNICO DA SECRETARIA DE EDUCAÇÃO,SUPERIOR COMPLETO LICENCIATURA,NaN

In [67]:
dados_2025.to_csv("dados_2025.csv", index=False)

In [68]:
!pip install chardet  # Instale se necessário
import chardet

# Detecta a codificação do arquivo
with open('microdados_ed_basica_2023.csv', 'rb') as f:
    result = chardet.detect(f.read(10000))  # Analisa as primeiras 10.000 linhas

print(f"Codificação detectada: {result['encoding']}")

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: chardet in /IA/jupyter_notebook/.venv/lib/python3.12/site-packages (5.2.0)
Codificação detectada: ISO-8859-1

In [69]:
censo2023 = pd.read_csv('microdados_ed_basica_2023.csv', encoding='ISO-8859-1', sep=';')

/tmp/ipykernel_19572/1256405870.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  censo2023 = pd.read_csv('microdados_ed_basica_2023.csv', encoding='ISO-8859-1', sep=';')

In [70]:
colunas = censo2023.columns.tolist()
print(colunas)

['NU_ANO_CENSO', 'NO_REGIAO', 'CO_REGIAO', 'NO_UF', 'SG_UF', 'CO_UF', 'NO_MUNICIPIO', 'CO_MUNICIPIO', 'NO_REGIAO_GEOG_INTERM', 'CO_REGIAO_GEOG_INTERM', 'NO_REGIAO_GEOG_IMED', 'CO_REGIAO_GEOG_IMED', 'NO_MESORREGIAO', 'CO_MESORREGIAO', 'NO_MICRORREGIAO', 'CO_MICRORREGIAO', 'CO_DISTRITO', 'NO_ENTIDADE', 'CO_ENTIDADE', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA', 'DS_ENDERECO', 'NU_ENDERECO', 'DS_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP', 'NU_DDD', 'NU_TELEFONE', 'TP_SITUACAO_FUNCIONAMENTO', 'CO_ORGAO_REGIONAL', 'DT_ANO_LETIVO_INICIO', 'DT_ANO_LETIVO_TERMINO', 'IN_VINCULO_SECRETARIA_EDUCACAO', 'IN_VINCULO_SEGURANCA_PUBLICA', 'IN_VINCULO_SECRETARIA_SAUDE', 'IN_VINCULO_OUTRO_ORGAO', 'IN_PODER_PUBLICO_PARCERIA', 'TP_PODER_PUBLICO_PARCERIA', 'IN_FORMA_CONT_TERMO_COLABORA', 'IN_FORMA_CONT_TERMO_FOMENTO', 'IN_FORMA_CONT_ACORDO_COOP', 'IN_FORMA_CONT_PRESTACAO_SERV', 'IN_FORMA_CONT_COOP_TEC_FIN', 'IN_FORMA_CONT_CONSORCIO_PUB', 'IN_FORMA_CONT_MU_TERMO_COLAB', 'IN_FORMA_CONT_MU_TERMO_FOMENTO', 'IN_FORMA_CONT_MU_ACORDO_COOP', 'IN_FORMA_CONT_MU_PREST_SERV', 'IN_FORMA_CONT_MU_COOP_TEC_FIN', 'IN_FORMA_CONT_MU_CONSORCIO_PUB', 'IN_FORMA_CONT_ES_TERMO_COLAB', 'IN_FORMA_CONT_ES_TERMO_FOMENTO', 'IN_FORMA_CONT_ES_ACORDO_COOP', 'IN_FORMA_CONT_ES_PREST_SERV', 'IN_FORMA_CONT_ES_COOP_TEC_FIN', 'IN_FORMA_CONT_ES_CONSORCIO_PUB', 'IN_MANT_ESCOLA_PRIVADA_EMP', 'IN_MANT_ESCOLA_PRIVADA_ONG', 'IN_MANT_ESCOLA_PRIVADA_OSCIP', 'IN_MANT_ESCOLA_PRIV_ONG_OSCIP', 'IN_MANT_ESCOLA_PRIVADA_SIND', 'IN_MANT_ESCOLA_PRIVADA_SIST_S', 'IN_MANT_ESCOLA_PRIVADA_S_FINS', 'NU_CNPJ_ESCOLA_PRIVADA', 'NU_CNPJ_MANTENEDORA', 'TP_REGULAMENTACAO', 'TP_RESPONSAVEL_REGULAMENTACAO', 'CO_ESCOLA_SEDE_VINCULADA', 'CO_IES_OFERTANTE', 'IN_LOCAL_FUNC_PREDIO_ESCOLAR', 'TP_OCUPACAO_PREDIO_ESCOLAR', 'IN_LOCAL_FUNC_SOCIOEDUCATIVO', 'IN_LOCAL_FUNC_UNID_PRISIONAL', 'IN_LOCAL_FUNC_PRISIONAL_SOCIO', 'IN_LOCAL_FUNC_GALPAO', 'TP_OCUPACAO_GALPAO', 'IN_LOCAL_FUNC_SALAS_OUTRA_ESC', 'IN_LOCAL_FUNC_OUTROS', 'IN_PREDIO_COMPARTILHADO', 'IN_AGUA_POTAVEL', 'IN_AGUA_REDE_PUBLICA', 'IN_AGUA_POCO_ARTESIANO', 'IN_AGUA_CACIMBA', 'IN_AGUA_FONTE_RIO', 'IN_AGUA_INEXISTENTE', 'IN_ENERGIA_REDE_PUBLICA', 'IN_ENERGIA_GERADOR_FOSSIL', 'IN_ENERGIA_RENOVAVEL', 'IN_ENERGIA_INEXISTENTE', 'IN_ESGOTO_REDE_PUBLICA', 'IN_ESGOTO_FOSSA_SEPTICA', 'IN_ESGOTO_FOSSA_COMUM', 'IN_ESGOTO_FOSSA', 'IN_ESGOTO_INEXISTENTE', 'IN_LIXO_SERVICO_COLETA', 'IN_LIXO_QUEIMA', 'IN_LIXO_ENTERRA', 'IN_LIXO_DESTINO_FINAL_PUBLICO', 'IN_LIXO_DESCARTA_OUTRA_AREA', 'IN_TRATAMENTO_LIXO_SEPARACAO', 'IN_TRATAMENTO_LIXO_REUTILIZA', 'IN_TRATAMENTO_LIXO_RECICLAGEM', 'IN_TRATAMENTO_LIXO_INEXISTENTE', 'IN_ALMOXARIFADO', 'IN_AREA_VERDE', 'IN_AUDITORIO', 'IN_BANHEIRO', 'IN_BANHEIRO_EI', 'IN_BANHEIRO_PNE', 'IN_BANHEIRO_FUNCIONARIOS', 'IN_BANHEIRO_CHUVEIRO', 'IN_BIBLIOTECA', 'IN_BIBLIOTECA_SALA_LEITURA', 'IN_COZINHA', 'IN_DESPENSA', 'IN_DORMITORIO_ALUNO', 'IN_DORMITORIO_PROFESSOR', 'IN_LABORATORIO_CIENCIAS', 'IN_LABORATORIO_INFORMATICA', 'IN_LABORATORIO_EDUC_PROF', 'IN_PATIO_COBERTO', 'IN_PATIO_DESCOBERTO', 'IN_PARQUE_INFANTIL', 'IN_PISCINA', 'IN_QUADRA_ESPORTES', 'IN_QUADRA_ESPORTES_COBERTA', 'IN_QUADRA_ESPORTES_DESCOBERTA', 'IN_REFEITORIO', 'IN_SALA_ATELIE_ARTES', 'IN_SALA_MUSICA_CORAL', 'IN_SALA_ESTUDIO_DANCA', 'IN_SALA_MULTIUSO', 'IN_SALA_ESTUDIO_GRAVACAO', 'IN_SALA_OFICINAS_EDUC_PROF', 'IN_SALA_DIRETORIA', 'IN_SALA_LEITURA', 'IN_SALA_PROFESSOR', 'IN_SALA_REPOUSO_ALUNO', 'IN_SECRETARIA', 'IN_SALA_ATENDIMENTO_ESPECIAL', 'IN_TERREIRAO', 'IN_VIVEIRO', 'IN_DEPENDENCIAS_OUTRAS', 'IN_ACESSIBILIDADE_CORRIMAO', 'IN_ACESSIBILIDADE_ELEVADOR', 'IN_ACESSIBILIDADE_PISOS_TATEIS', 'IN_ACESSIBILIDADE_VAO_LIVRE', 'IN_ACESSIBILIDADE_RAMPAS', 'IN_ACESSIBILIDADE_SINAL_SONORO', 'IN_ACESSIBILIDADE_SINAL_TATIL', 'IN_ACESSIBILIDADE_SINAL_VISUAL', 'IN_ACESSIBILIDADE_INEXISTENTE', 'QT_SALAS_UTILIZADAS_DENTRO', 'QT_SALAS_UTILIZADAS_FORA', 'QT_SALAS_UTILIZADAS', 'QT_SALAS_UTILIZA_CLIMATIZADAS', 'QT_SALAS_UTILIZADAS_ACESSIVEIS', 'IN_EQUIP_PARABOLICA', 'IN_COMPUTADOR', 'IN_EQUIP_COPIADORA', 'IN_EQUIP_IMPRESSORA', 'IN_EQUIP_IMPRESSORA_MULT', 'IN_EQUIP_SCANNER', 'IN_EQUIP_NENHUM', 'IN_EQUIP_DVD', 'QT_EQUIP_DVD', 'IN_EQUIP_SOM', 'QT_EQUIP_SOM', 'IN_EQUIP_TV', 'QT_EQUIP_TV', 'IN_EQUIP_LOUSA_DIGITAL', 'QT_EQUIP_LOUSA_DIGITAL', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 'QT_TABLET_ALUNO', 'IN_INTERNET', 'IN_INTERNET_ALUNOS', 'IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_INTERNET_COMUNIDADE', 'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_BANDA_LARGA', 'IN_PROF_ADMINISTRATIVOS', 'QT_PROF_ADMINISTRATIVOS', 'IN_PROF_SERVICOS_GERAIS', 'QT_PROF_SERVICOS_GERAIS', 'IN_PROF_BIBLIOTECARIO', 'QT_PROF_BIBLIOTECARIO', 'IN_PROF_SAUDE', 'QT_PROF_SAUDE', 'IN_PROF_COORDENADOR', 'QT_PROF_COORDENADOR', 'IN_PROF_FONAUDIOLOGO', 'QT_PROF_FONAUDIOLOGO', 'IN_PROF_NUTRICIONISTA', 'QT_PROF_NUTRICIONISTA', 'IN_PROF_PSICOLOGO', 'QT_PROF_PSICOLOGO', 'IN_PROF_ALIMENTACAO', 'QT_PROF_ALIMENTACAO', 'IN_PROF_PEDAGOGIA', 'QT_PROF_PEDAGOGIA', 'IN_PROF_SECRETARIO', 'QT_PROF_SECRETARIO', 'IN_PROF_SEGURANCA', 'QT_PROF_SEGURANCA', 'IN_PROF_MONITORES', 'QT_PROF_MONITORES', 'IN_PROF_GESTAO', 'QT_PROF_GESTAO', 'IN_PROF_ASSIST_SOCIAL', 'QT_PROF_ASSIST_SOCIAL', 'IN_PROF_TRAD_LIBRAS', 'QT_PROF_TRAD_LIBRAS', 'IN_ALIMENTACAO', 'IN_MATERIAL_PED_MULTIMIDIA', 'IN_MATERIAL_PED_INFANTIL', 'IN_MATERIAL_PED_CIENTIFICO', 'IN_MATERIAL_PED_DIFUSAO', 'IN_MATERIAL_PED_MUSICAL', 'IN_MATERIAL_PED_JOGOS', 'IN_MATERIAL_PED_ARTISTICAS', 'IN_MATERIAL_PED_PROFISSIONAL', 'IN_MATERIAL_PED_DESPORTIVA', 'IN_MATERIAL_PED_INDIGENA', 'IN_MATERIAL_PED_ETNICO', 'IN_MATERIAL_PED_CAMPO', 'IN_MATERIAL_PED_BIL_SURDOS', 'IN_MATERIAL_PED_NENHUM', 'IN_EDUCACAO_INDIGENA', 'TP_INDIGENA_LINGUA', 'CO_LINGUA_INDIGENA_1', 'CO_LINGUA_INDIGENA_2', 'CO_LINGUA_INDIGENA_3', 'IN_EXAME_SELECAO', 'IN_RESERVA_PPI', 'IN_RESERVA_RENDA', 'IN_RESERVA_PUBLICA', 'IN_RESERVA_PCD', 'IN_RESERVA_OUTROS', 'IN_RESERVA_NENHUMA', 'IN_REDES_SOCIAIS', 'IN_ESPACO_ATIVIDADE', 'IN_ESPACO_EQUIPAMENTO', 'IN_ORGAO_ASS_PAIS', 'IN_ORGAO_ASS_PAIS_MESTRES', 'IN_ORGAO_CONSELHO_ESCOLAR', 'IN_ORGAO_GREMIO_ESTUDANTIL', 'IN_ORGAO_OUTROS', 'IN_ORGAO_NENHUM', 'TP_PROPOSTA_PEDAGOGICA', 'TP_AEE', 'TP_ATIVIDADE_COMPLEMENTAR', 'IN_MEDIACAO_PRESENCIAL', 'IN_MEDIACAO_SEMIPRESENCIAL', 'IN_MEDIACAO_EAD', 'IN_REGULAR', 'IN_DIURNO', 'IN_NOTURNO', 'IN_EAD', 'IN_ESCOLARIZACAO', 'IN_INF', 'IN_INF_CRE', 'IN_INF_PRE', 'IN_FUND', 'IN_FUND_AI', 'IN_FUND_AF', 'IN_MED', 'IN_PROF', 'IN_PROF_TEC', 'IN_EJA', 'IN_EJA_FUND', 'IN_EJA_MED', 'IN_ESP', 'IN_ESP_CC', 'IN_ESP_CE', 'QT_MAT_BAS', 'QT_MAT_INF', 'QT_MAT_INF_CRE', 'QT_MAT_INF_PRE', 'QT_MAT_FUND', 'QT_MAT_FUND_AI', 'QT_MAT_FUND_AI_1', 'QT_MAT_FUND_AI_2', 'QT_MAT_FUND_AI_3', 'QT_MAT_FUND_AI_4', 'QT_MAT_FUND_AI_5', 'QT_MAT_FUND_AF', 'QT_MAT_FUND_AF_6', 'QT_MAT_FUND_AF_7', 'QT_MAT_FUND_AF_8', 'QT_MAT_FUND_AF_9', 'QT_MAT_MED', 'QT_MAT_MED_PROP', 'QT_MAT_MED_PROP_1', 'QT_MAT_MED_PROP_2', 'QT_MAT_MED_PROP_3', 'QT_MAT_MED_PROP_4', 'QT_MAT_MED_PROP_NS', 'QT_MAT_MED_CT', 'QT_MAT_MED_CT_1', 'QT_MAT_MED_CT_2', 'QT_MAT_MED_CT_3', 'QT_MAT_MED_CT_4', 'QT_MAT_MED_CT_NS', 'QT_MAT_MED_NM', 'QT_MAT_MED_NM_1', 'QT_MAT_MED_NM_2', 'QT_MAT_MED_NM_3', 'QT_MAT_MED_NM_4', 'QT_MAT_PROF', 'QT_MAT_PROF_TEC', 'QT_MAT_PROF_TEC_CONC', 'QT_MAT_PROF_TEC_SUBS', 'QT_MAT_PROF_FIC_CONC', 'QT_MAT_EJA', 'QT_MAT_EJA_FUND', 'QT_MAT_EJA_FUND_AI', 'QT_MAT_EJA_FUND_AF', 'QT_MAT_EJA_FUND_FIC', 'QT_MAT_EJA_MED', 'QT_MAT_EJA_MED_NPROF', 'QT_MAT_EJA_MED_FIC', 'QT_MAT_EJA_MED_TEC', 'QT_MAT_ESP', 'QT_MAT_ESP_CC', 'QT_MAT_ESP_CE', 'QT_MAT_BAS_FEM', 'QT_MAT_BAS_MASC', 'QT_MAT_BAS_ND', 'QT_MAT_BAS_BRANCA', 'QT_MAT_BAS_PRETA', 'QT_MAT_BAS_PARDA', 'QT_MAT_BAS_AMARELA', 'QT_MAT_BAS_INDIGENA', 'QT_MAT_BAS_0_3', 'QT_MAT_BAS_4_5', 'QT_MAT_BAS_6_10', 'QT_MAT_BAS_11_14', 'QT_MAT_BAS_15_17', 'QT_MAT_BAS_18_MAIS', 'QT_MAT_BAS_D', 'QT_MAT_BAS_N', 'QT_MAT_BAS_EAD', 'QT_MAT_INF_INT', 'QT_MAT_INF_CRE_INT', 'QT_MAT_INF_PRE_INT', 'QT_MAT_FUND_INT', 'QT_MAT_FUND_AI_INT', 'QT_MAT_FUND_AF_INT', 'QT_MAT_MED_INT', 'QT_MAT_ZR_URB', 'QT_MAT_ZR_RUR', 'QT_MAT_ZR_NA', 'QT_TRANSP_PUBLICO', 'QT_TRANSP_RESP_EST', 'QT_TRANSP_RESP_MUN', 'QT_DOC_BAS', 'QT_DOC_INF', 'QT_DOC_INF_CRE', 'QT_DOC_INF_PRE', 'QT_DOC_FUND', 'QT_DOC_FUND_AI', 'QT_DOC_FUND_AF', 'QT_DOC_MED', 'QT_DOC_PROF', 'QT_DOC_PROF_TEC', 'QT_DOC_EJA', 'QT_DOC_EJA_FUND', 'QT_DOC_EJA_MED', 'QT_DOC_ESP', 'QT_DOC_ESP_CC', 'QT_DOC_ESP_CE', 'QT_TUR_BAS', 'QT_TUR_INF', 'QT_TUR_INF_CRE', 'QT_TUR_INF_PRE', 'QT_TUR_FUND', 'QT_TUR_FUND_AI', 'QT_TUR_FUND_AF', 'QT_TUR_MED', 'QT_TUR_PROF', 'QT_TUR_PROF_TEC', 'QT_TUR_EJA', 'QT_TUR_EJA_FUND', 'QT_TUR_EJA_MED', 'QT_TUR_ESP', 'QT_TUR_ESP_CC', 'QT_TUR_ESP_CE', 'QT_TUR_BAS_D', 'QT_TUR_BAS_N', 'QT_TUR_BAS_EAD', 'QT_TUR_INF_INT', 'QT_TUR_INF_CRE_INT', 'QT_TUR_INF_PRE_INT', 'QT_TUR_FUND_INT', 'QT_TUR_FUND_AI_INT', 'QT_TUR_FUND_AF_INT', 'QT_TUR_MED_INT']

In [71]:
colunas_para_excluir = [
    # Colunas anteriores
    'NU_ANO_CENSO', 'NO_REGIAO', 'CO_REGIAO', 'CO_UF', 'CO_MUNICIPIO', 
    'CO_REGIAO_GEOG_INTERM', 'NO_MESORREGIAO', 'NO_MICRORREGIAO', 'CO_DISTRITO', 
    'NO_ENTIDADE', 'CO_ENTIDADE', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'DS_ENDERECO', 
    'NU_ENDERECO', 'DS_COMPLEMENTO', 'NO_BAIRRO', 'CO_CEP', 'NU_DDD', 'NU_TELEFONE', 
    'CO_ORGAO_REGIONAL', 'DT_ANO_LETIVO_INICIO', 'DT_ANO_LETIVO_TERMINO', 
    'IN_VINCULO_SEGURANCA_PUBLICA', 'IN_VINCULO_SECRETARIA_SAUDE', 'IN_VINCULO_OUTRO_ORGAO', 
    'IN_PODER_PUBLICO_PARCERIA', 'TP_PODER_PUBLICO_PARCERIA', 'IN_FORMA_CONT_TERMO_COLABORA', 
    'IN_FORMA_CONT_TERMO_FOMENTO', 'IN_FORMA_CONT_ACORDO_COOP', 'IN_FORMA_CONT_PRESTACAO_SERV', 
    'IN_FORMA_CONT_COOP_TEC_FIN', 'IN_FORMA_CONT_CONSORCIO_PUB', 'IN_FORMA_CONT_MU_TERMO_COLAB', 
    'IN_FORMA_CONT_MU_TERMO_FOMENTO', 'IN_FORMA_CONT_MU_ACORDO_COOP', 'IN_FORMA_CONT_MU_PREST_SERV', 
    'IN_FORMA_CONT_MU_COOP_TEC_FIN', 'IN_FORMA_CONT_MU_CONSORCIO_PUB', 'IN_FORMA_CONT_ES_TERMO_COLAB', 
    'IN_FORMA_CONT_ES_TERMO_FOMENTO', 'IN_FORMA_CONT_ES_ACORDO_COOP', 'IN_FORMA_CONT_ES_PREST_SERV', 
    'IN_FORMA_CONT_ES_COOP_TEC_FIN', 'IN_FORMA_CONT_ES_CONSORCIO_PUB', 'IN_MANT_ESCOLA_PRIVADA_EMP', 
    'IN_MANT_ESCOLA_PRIVADA_ONG', 'IN_MANT_ESCOLA_PRIVADA_OSCIP', 'IN_MANT_ESCOLA_PRIV_ONG_OSCIP', 
    'IN_MANT_ESCOLA_PRIVADA_SIND', 'IN_MANT_ESCOLA_PRIVADA_SIST_S', 'IN_MANT_ESCOLA_PRIVADA_S_FINS', 
    'NU_CNPJ_ESCOLA_PRIVADA', 'NU_CNPJ_MANTENEDORA', 'TP_REGULAMENTACAO', 'TP_RESPONSAVEL_REGULAMENTACAO',

    # Novas colunas adicionadas
    'NO_REGIAO_GEOG_INTERM', 'NO_REGIAO_GEOG_IMED', 'TP_DEPENDENCIA', 'TP_LOCALIZACAO', 
    'TP_LOCALIZACAO_DIFERENCIADA', 'TP_SITUACAO_FUNCIONAMENTO', 'IN_VINCULO_SECRETARIA_EDUCACAO',
    'CO_IES_OFERTANTE', 'IN_LOCAL_FUNC_PREDIO_ESCOLAR', 'TP_OCUPACAO_PREDIO_ESCOLAR', 
    'IN_LOCAL_FUNC_SOCIOEDUCATIVO', 'IN_LOCAL_FUNC_UNID_PRISIONAL', 'IN_LOCAL_FUNC_PRISIONAL_SOCIO', 
    'IN_LOCAL_FUNC_GALPAO', 'TP_OCUPACAO_GALPAO', 'IN_LOCAL_FUNC_SALAS_OUTRA_ESC', 'IN_LOCAL_FUNC_OUTROS', 
    'IN_PREDIO_COMPARTILHADO', 'IN_AGUA_POTAVEL', 'IN_AGUA_REDE_PUBLICA', 'IN_AGUA_POCO_ARTESIANO', 
    'IN_AGUA_CACIMBA', 'IN_AGUA_FONTE_RIO', 'IN_AGUA_INEXISTENTE', 'IN_ENERGIA_REDE_PUBLICA', 
    'IN_ENERGIA_GERADOR_FOSSIL', 'IN_ENERGIA_RENOVAVEL', 'IN_ENERGIA_INEXISTENTE', 'IN_ESGOTO_REDE_PUBLICA', 
    'IN_ESGOTO_FOSSA_SEPTICA', 'IN_ESGOTO_FOSSA_COMUM', 'IN_ESGOTO_FOSSA', 'IN_ESGOTO_INEXISTENTE', 
    'IN_LIXO_SERVICO_COLETA', 'IN_LIXO_QUEIMA', 'IN_LIXO_ENTERRA', 'IN_LIXO_DESTINO_FINAL_PUBLICO', 
    'IN_LIXO_DESCARTA_OUTRA_AREA', 'IN_TRATAMENTO_LIXO_SEPARACAO', 'IN_TRATAMENTO_LIXO_REUTILIZA', 
    'IN_TRATAMENTO_LIXO_RECICLAGEM', 'IN_TRATAMENTO_LIXO_INEXISTENTE', 'IN_ALMOXARIFADO', 'IN_AREA_VERDE', 
    'IN_AUDITORIO', 'IN_BANHEIRO', 'IN_BANHEIRO_EI', 'IN_BANHEIRO_PNE', 'IN_BANHEIRO_FUNCIONARIOS', 
    'IN_BANHEIRO_CHUVEIRO', 'IN_BIBLIOTECA', 'IN_BIBLIOTECA_SALA_LEITURA', 'IN_COZINHA', 'IN_DESPENSA', 
    'IN_DORMITORIO_ALUNO', 'IN_DORMITORIO_PROFESSOR', 'IN_LABORATORIO_CIENCIAS', 'IN_LABORATORIO_INFORMATICA', 
    'IN_LABORATORIO_EDUC_PROF', 'IN_PATIO_COBERTO', 'IN_PATIO_DESCOBERTO', 'IN_PARQUE_INFANTIL', 'IN_PISCINA', 
    'IN_QUADRA_ESPORTES', 'IN_QUADRA_ESPORTES_COBERTA', 'IN_QUADRA_ESPORTES_DESCOBERTA', 'IN_REFEITORIO',
    'CO_ESCOLA_SEDE_VINCULADA', 'IN_SALA_ATELIE_ARTES', 'IN_SALA_MUSICA_CORAL', 'IN_SALA_ESTUDIO_DANCA', 'IN_SALA_MULTIUSO', 
    'IN_SALA_ESTUDIO_GRAVACAO', 'IN_SALA_OFICINAS_EDUC_PROF', 'IN_SALA_DIRETORIA', 'IN_SALA_LEITURA', 'IN_SALA_PROFESSOR',
    'IN_SALA_REPOUSO_ALUNO', 'IN_SECRETARIA', 'IN_SALA_ATENDIMENTO_ESPECIAL', 'IN_TERREIRAO', 'IN_VIVEIRO', 'IN_DEPENDENCIAS_OUTRAS', 
    'IN_ACESSIBILIDADE_CORRIMAO', 'IN_ACESSIBILIDADE_ELEVADOR', 'IN_ACESSIBILIDADE_PISOS_TATEIS', 'IN_ACESSIBILIDADE_VAO_LIVRE', 
    'IN_ACESSIBILIDADE_RAMPAS', 'IN_ACESSIBILIDADE_SINAL_SONORO', 'IN_ACESSIBILIDADE_SINAL_TATIL', 'IN_ACESSIBILIDADE_SINAL_VISUAL', 
    'IN_ACESSIBILIDADE_INEXISTENTE', 'QT_SALAS_UTILIZADAS_DENTRO', 'QT_SALAS_UTILIZADAS_FORA', 'QT_SALAS_UTILIZADAS', 
    'QT_SALAS_UTILIZA_CLIMATIZADAS', 'QT_SALAS_UTILIZADAS_ACESSIVEIS', 'IN_EQUIP_PARABOLICA',
    'IN_EQUIP_COPIADORA', 'IN_EQUIP_IMPRESSORA', 'IN_EQUIP_IMPRESSORA_MULT', 'IN_EQUIP_SCANNER', 'IN_EQUIP_NENHUM', 'IN_EQUIP_DVD', 
    'QT_EQUIP_DVD', 'IN_EQUIP_SOM', 'QT_EQUIP_SOM', 'IN_EQUIP_TV', 'QT_EQUIP_TV', 'IN_EQUIP_MULTIMIDIA', 'QT_EQUIP_MULTIMIDIA', 
     'IN_PROF_ADMINISTRATIVOS', 'QT_PROF_ADMINISTRATIVOS', 'IN_PROF_SERVICOS_GERAIS', 'QT_PROF_SERVICOS_GERAIS', 'IN_PROF_BIBLIOTECARIO', 
    'QT_PROF_BIBLIOTECARIO', 'IN_PROF_SAUDE', 'QT_PROF_SAUDE', 'IN_PROF_COORDENADOR', 'QT_PROF_COORDENADOR', 'IN_PROF_FONAUDIOLOGO', 
    'QT_PROF_FONAUDIOLOGO', 'IN_PROF_NUTRICIONISTA', 'QT_PROF_NUTRICIONISTA', 'IN_PROF_PSICOLOGO', 'QT_PROF_PSICOLOGO', 
    'IN_PROF_ALIMENTACAO', 'QT_PROF_ALIMENTACAO', 'IN_PROF_PEDAGOGIA', 'QT_PROF_PEDAGOGIA', 'IN_PROF_SECRETARIO', 'QT_PROF_SECRETARIO', 
    'IN_PROF_SEGURANCA', 'QT_PROF_SEGURANCA', 'IN_PROF_MONITORES', 'IN_PROF_GESTAO', 'QT_PROF_GESTAO', 
    'IN_PROF_ASSIST_SOCIAL', 'QT_PROF_ASSIST_SOCIAL', 'IN_PROF_TRAD_LIBRAS', 'QT_PROF_TRAD_LIBRAS', 'IN_ALIMENTACAO', 
    'IN_MATERIAL_PED_MULTIMIDIA', 'IN_MATERIAL_PED_INFANTIL', 'IN_MATERIAL_PED_CIENTIFICO', 'IN_MATERIAL_PED_DIFUSAO', 
    'IN_MATERIAL_PED_MUSICAL', 'IN_MATERIAL_PED_JOGOS', 'IN_MATERIAL_PED_ARTISTICAS', 'IN_MATERIAL_PED_PROFISSIONAL', 
    'IN_MATERIAL_PED_DESPORTIVA', 'IN_MATERIAL_PED_INDIGENA', 'IN_MATERIAL_PED_ETNICO', 'IN_MATERIAL_PED_CAMPO', 
    'IN_MATERIAL_PED_BIL_SURDOS', 'IN_MATERIAL_PED_NENHUM', 'IN_EDUCACAO_INDIGENA', 'TP_INDIGENA_LINGUA', 'CO_LINGUA_INDIGENA_1', 
    'CO_LINGUA_INDIGENA_2', 'CO_LINGUA_INDIGENA_3', 'IN_EXAME_SELECAO', 'IN_RESERVA_PPI', 'IN_RESERVA_RENDA', 'IN_RESERVA_PUBLICA', 
    'IN_RESERVA_PCD', 'IN_RESERVA_OUTROS', 'IN_RESERVA_NENHUMA', 'IN_REDES_SOCIAIS', 'IN_ESPACO_ATIVIDADE', 'IN_ESPACO_EQUIPAMENTO', 
    'IN_ORGAO_ASS_PAIS', 'IN_ORGAO_ASS_PAIS_MESTRES', 'IN_ORGAO_CONSELHO_ESCOLAR', 'IN_ORGAO_GREMIO_ESTUDANTIL', 'IN_ORGAO_OUTROS', 
    'IN_ORGAO_NENHUM', 'TP_PROPOSTA_PEDAGOGICA', 'QT_MAT_BAS', 'QT_MAT_INF_CRE',
    'QT_MAT_FUND_AI_1', 'QT_MAT_FUND_AI_2', 'QT_MAT_FUND_AI_3', 'QT_MAT_FUND_AI_4', 'QT_MAT_FUND_AI_5', 
    'QT_MAT_FUND_AF_6', 'QT_MAT_FUND_AF_7', 'QT_MAT_FUND_AF_8', 'QT_MAT_FUND_AF_9', 'QT_MAT_MED_PROP', 'QT_MAT_MED_PROP_1', 
    'QT_MAT_MED_PROP_2', 'QT_MAT_MED_PROP_3', 'QT_MAT_MED_PROP_4', 'QT_MAT_MED_CT_1', 
    'QT_MAT_MED_CT_2', 'QT_MAT_MED_CT_3', 'QT_MAT_MED_CT_4', 'QT_MAT_MED_NM_1', 'QT_MAT_MED_NM_2', 
    'QT_MAT_MED_NM_3', 'QT_MAT_MED_NM_4', 'QT_MAT_EJA',
    'QT_MAT_EJA_MED_NPROF', 'QT_MAT_EJA_MED_FIC', 'QT_MAT_EJA_MED_TEC', 'QT_MAT_ESP', 'QT_MAT_ESP_CC', 'QT_MAT_ESP_CE', 
    'QT_MAT_BAS_FEM', 'QT_MAT_BAS_MASC', 'QT_MAT_BAS_ND', 'QT_MAT_BAS_BRANCA', 'QT_MAT_BAS_PRETA', 'QT_MAT_BAS_PARDA', 'QT_MAT_BAS_AMARELA', 
    'QT_MAT_BAS_INDIGENA', 'QT_MAT_BAS_0_3', 'QT_MAT_BAS_4_5', 'QT_MAT_BAS_6_10', 'QT_MAT_BAS_11_14', 'QT_MAT_BAS_15_17', 
    'QT_MAT_BAS_18_MAIS', 'QT_MAT_BAS_D', 'QT_MAT_BAS_N', 'QT_MAT_BAS_EAD', 'QT_MAT_INF_INT', 'QT_MAT_INF_CRE_INT', 'QT_MAT_INF_PRE_INT', 
    'QT_MAT_FUND_INT', 'QT_MAT_FUND_AI_INT', 'QT_MAT_FUND_AF_INT', 'QT_MAT_MED_INT', 'QT_MAT_ZR_URB', 'QT_MAT_ZR_RUR', 'QT_MAT_ZR_NA', 
    'QT_TRANSP_PUBLICO', 'QT_TRANSP_RESP_EST', 'QT_TRANSP_RESP_MUN','IN_ESP_CC', 'IN_ESP_CE', 'QT_DOC_BAS', 'QT_DOC_INF', 'QT_DOC_INF_CRE', 
    'QT_DOC_INF_PRE', 'QT_DOC_FUND', 'QT_DOC_FUND_AI', 'QT_DOC_FUND_AF', 'QT_DOC_MED', 'QT_DOC_PROF', 'QT_DOC_PROF_TEC', 'QT_DOC_EJA', 
    'QT_DOC_EJA_FUND', 'QT_DOC_EJA_MED', 'QT_DOC_ESP', 'QT_DOC_ESP_CC', 'QT_DOC_ESP_CE', 'QT_TUR_BAS', 'QT_TUR_INF', 'QT_TUR_INF_CRE', 
    'QT_TUR_INF_PRE', 'QT_TUR_FUND', 'QT_TUR_FUND_AI', 'QT_TUR_FUND_AF', 'QT_TUR_MED', 'QT_TUR_PROF', 'QT_TUR_PROF_TEC', 'QT_TUR_EJA', 
    'QT_TUR_EJA_FUND', 'QT_TUR_EJA_MED', 'QT_TUR_ESP', 'QT_TUR_ESP_CC', 'QT_TUR_ESP_CE', 'QT_TUR_BAS_D', 'QT_TUR_BAS_N', 'QT_TUR_BAS_EAD', 
    'QT_TUR_INF_INT', 'QT_TUR_INF_CRE_INT', 'QT_TUR_INF_PRE_INT', 'QT_TUR_FUND_INT', 'QT_TUR_FUND_AI_INT', 'QT_TUR_FUND_AF_INT', 
    'QT_TUR_MED_INT', 'CO_REGIAO_GEOG_IMED', 'CO_MESORREGIAO', 'CO_MICRORREGIAO', 'IN_COMPUTADOR', 'IN_EQUIP_LOUSA_DIGITAL', 
    'QT_EQUIP_LOUSA_DIGITAL', 'IN_DESKTOP_ALUNO', 'QT_DESKTOP_ALUNO', 'IN_COMP_PORTATIL_ALUNO', 'QT_COMP_PORTATIL_ALUNO', 'IN_TABLET_ALUNO', 
    'QT_TABLET_ALUNO', 'IN_INTERNET_ALUNOS', 'IN_INTERNET_ADMINISTRATIVO', 'IN_INTERNET_APRENDIZAGEM', 'IN_INTERNET_COMUNIDADE', 
    'IN_ACESSO_INTERNET_COMPUTADOR', 'IN_ACES_INTERNET_DISP_PESSOAIS', 'TP_REDE_LOCAL', 'IN_MEDIACAO_PRESENCIAL', 
    'IN_MEDIACAO_SEMIPRESENCIAL', 'IN_MEDIACAO_EAD', 'NO_UF', 'IN_REGULAR', 'IN_DIURNO', 'IN_NOTURNO', 
    'IN_EAD', 'IN_INF_CRE', 'IN_INF_PRE', 'IN_FUND_AI', 'IN_FUND_AF', 'IN_EJA_FUND', 'IN_EJA_MED', 'QT_MAT_FUND_AI', 'QT_MAT_FUND_AF',
    'QT_MAT_EJA_FUND_AI', 'QT_MAT_EJA_FUND_AF', 'QT_MAT_EJA_FUND_FIC', 'QT_MAT_EJA_MED', 'QT_MAT_EJA_FUND'
]

In [72]:
censo2023.drop(
    columns=colunas_para_excluir,
    axis=1,
    inplace=True,
    errors='ignore'  # Ignora colunas que não existem
)

In [73]:
colunas = censo2023.columns.tolist()
print(colunas)

['SG_UF', 'NO_MUNICIPIO', 'IN_INTERNET', 'IN_BANDA_LARGA', 'QT_PROF_MONITORES', 'TP_AEE', 'TP_ATIVIDADE_COMPLEMENTAR', 'IN_ESCOLARIZACAO', 'IN_INF', 'IN_FUND', 'IN_MED', 'IN_PROF', 'IN_PROF_TEC', 'IN_EJA', 'IN_ESP', 'QT_MAT_INF', 'QT_MAT_INF_PRE', 'QT_MAT_FUND', 'QT_MAT_MED', 'QT_MAT_MED_PROP_NS', 'QT_MAT_MED_CT', 'QT_MAT_MED_CT_NS', 'QT_MAT_MED_NM', 'QT_MAT_PROF', 'QT_MAT_PROF_TEC', 'QT_MAT_PROF_TEC_CONC', 'QT_MAT_PROF_TEC_SUBS', 'QT_MAT_PROF_FIC_CONC']

In [74]:
# Dicionário de renomeação (antigo: novo)
novos_nomes = {
    'SG_UF': 'UF',
    'NO_MUNICIPIO': 'NOME MUNICÍPIO',
    'IN_INTERNET': 'Possui Internet',
    'IN_BANDA_LARGA': 'Internet Banda Larga',
    'QT_PROF_MONITORES': 'prof monitores',
    'TP_AEE': 'aee',
    'TP_ATIVIDADE_COMPLEMENTAR': 'atividade complementar',
    'IN_ESCOLARIZACAO': 'ESCOLARIZACAO',
    'IN_INF': 'Ensino infantil',
    'IN_FUND': 'Ensino Fundamental',
    'IN_MED': 'ensino médio',
    'IN_PROF': 'ensino profisionalizante',
    'IN_PROF_TEC': 'ensino téc. prof.',
    'IN_EJA': 'EJA',
    'IN_ESP': 'Educação Especial'
}

In [75]:
censo2023.rename(columns=novos_nomes, inplace=True, errors='ignore')

In [76]:
# Total de colunas
n_colunas = censo2023.shape[1]

# Intervalos de 10 colunas (0-9, 10-19, ..., até 40-44)
for inicio in range(0, n_colunas, 10):
    fim = inicio + 10
    if fim > n_colunas:
        fim = n_colunas  # Ajusta o último intervalo
    
    # Seleciona as colunas do intervalo atual e as 30 primeiras linhas
    subset = censo2023.iloc[:10, inicio:fim]
    
    # Exibe com formatação
    print(f"\n\033[1mIntervalo de colunas {inicio} a {fim-1}:\033[0m")
    display(subset.style.set_caption(f"Colunas {inicio}-{fim-1} | 30 primeiros registros"))

Intervalo de colunas 0 a 9:

Intervalo de colunas 10 a 19:

Intervalo de colunas 20 a 27:

In [77]:
# Substituir 'QT_MAT_' por 'Qtde de Matrículas ' nos nomes das colunas
censo2023.rename(columns=lambda col: pd.Series(col).str.replace(r'^QT_MAT_', 'Qtde Matrículas ', regex=True)[0], inplace=True)

In [78]:
censo2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217625 entries, 0 to 217624
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   UF                             217625 non-null  object
 1   NOME MUNICÍPIO                 217625 non-null  object
 2   Possui Internet                180230 non-null  float64
 3   Internet Banda Larga           163855 non-null  float64
 4   prof monitores                 180230 non-null  float64
 5   aee                            180230 non-null  float64
 6   atividade complementar         180230 non-null  float64
 7   ESCOLARIZACAO                  180230 non-null  float64
 8   Ensino infantil                178476 non-null  float64
 9   Ensino Fundamental             178476 non-null  float64
 10  ensino médio                   178476 non-null  float64
 11  ensino profisionalizante       178476 non-null  float64
 12  ensino téc. prof.              178476 non-null  float64
 13  EJA                            178476 non-null  float64
 14  Educação Especial              178476 non-null  float64
 15  Qtde Matrículas INF            178476 non-null  float64
 16  Qtde Matrículas INF_PRE        178476 non-null  float64
 17  Qtde Matrículas FUND           178476 non-null  float64
 18  Qtde Matrículas MED            178476 non-null  float64
 19  Qtde Matrículas MED_PROP_NS    178476 non-null  float64
 20  Qtde Matrículas MED_CT         178476 non-null  float64
 21  Qtde Matrículas MED_CT_NS      178476 non-null  float64
 22  Qtde Matrículas MED_NM         178476 non-null  float64
 23  Qtde Matrículas PROF           178476 non-null  float64
 24  Qtde Matrículas PROF_TEC       178476 non-null  float64
 25  Qtde Matrículas PROF_TEC_CONC  178476 non-null  float64
 26  Qtde Matrículas PROF_TEC_SUBS  178476 non-null  float64
 27  Qtde Matrículas PROF_FIC_CONC  178476 non-null  float64
dtypes: float64(26), object(2)
memory usage: 46.5+ MB

In [79]:
censo2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217625 entries, 0 to 217624
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   UF                             217625 non-null  object
 1   NOME MUNICÍPIO                 217625 non-null  object
 2   Possui Internet                180230 non-null  float64
 3   Internet Banda Larga           163855 non-null  float64
 4   prof monitores                 180230 non-null  float64
 5   aee                            180230 non-null  float64
 6   atividade complementar         180230 non-null  float64
 7   ESCOLARIZACAO                  180230 non-null  float64
 8   Ensino infantil                178476 non-null  float64
 9   Ensino Fundamental             178476 non-null  float64
 10  ensino médio                   178476 non-null  float64
 11  ensino profisionalizante       178476 non-null  float64
 12  ensino téc. prof.              178476 non-null  float64
 13  EJA                            178476 non-null  float64
 14  Educação Especial              178476 non-null  float64
 15  Qtde Matrículas INF            178476 non-null  float64
 16  Qtde Matrículas INF_PRE        178476 non-null  float64
 17  Qtde Matrículas FUND           178476 non-null  float64
 18  Qtde Matrículas MED            178476 non-null  float64
 19  Qtde Matrículas MED_PROP_NS    178476 non-null  float64
 20  Qtde Matrículas MED_CT         178476 non-null  float64
 21  Qtde Matrículas MED_CT_NS      178476 non-null  float64
 22  Qtde Matrículas MED_NM         178476 non-null  float64
 23  Qtde Matrículas PROF           178476 non-null  float64
 24  Qtde Matrículas PROF_TEC       178476 non-null  float64
 25  Qtde Matrículas PROF_TEC_CONC  178476 non-null  float64
 26  Qtde Matrículas PROF_TEC_SUBS  178476 non-null  float64
 27  Qtde Matrículas PROF_FIC_CONC  178476 non-null  float64
dtypes: float64(26), object(2)
memory usage: 46.5+ MB

In [80]:
censo2023.head()

,UF,NOME MUNICÍPIO,Possui Internet,Internet Banda Larga,prof monitores,aee,atividade complementar,ESCOLARIZACAO,Ensino infantil,Ensino Fundamental,...,Qtde Matrículas MED,Qtde Matrículas MED_PROP_NS,Qtde Matrículas MED_CT,Qtde Matrículas MED_CT_NS,Qtde Matrículas MED_NM,Qtde Matrículas PROF,Qtde Matrículas PROF_TEC,Qtde Matrículas PROF_TEC_CONC,Qtde Matrículas PROF_TEC_SUBS,Qtde Matrículas PROF_FIC_CONC
0,RO,Porto Velho,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,RO,Porto Velho,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,RO,Porto Velho,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,...,354.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,RO,Porto Velho,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,RO,Porto Velho,1.0,1.0,5.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
censo2023.tail()

,UF,NOME MUNICÍPIO,Possui Internet,Internet Banda Larga,prof monitores,aee,atividade complementar,ESCOLARIZACAO,Ensino infantil,Ensino Fundamental,...,Qtde Matrículas MED,Qtde Matrículas MED_PROP_NS,Qtde Matrículas MED_CT,Qtde Matrículas MED_CT_NS,Qtde Matrículas MED_NM,Qtde Matrículas PROF,Qtde Matrículas PROF_TEC,Qtde Matrículas PROF_TEC_CONC,Qtde Matrículas PROF_TEC_SUBS,Qtde Matrículas PROF_FIC_CONC
217620,DF,Brasília,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217621,DF,Brasília,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217622,DF,Brasília,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,...,72.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217623,DF,Brasília,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217624,DF,Brasília,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,202.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
censo2023.shape

(217625, 28)

In [83]:
censo2023.columns

Index(['UF', 'NOME MUNICÍPIO', 'Possui Internet', 'Internet Banda Larga',
       'prof monitores', 'aee', 'atividade complementar', 'ESCOLARIZACAO',
       'Ensino infantil', 'Ensino Fundamental', 'ensino médio',
       'ensino profisionalizante', 'ensino téc. prof.', 'EJA',
       'Educação Especial', 'Qtde Matrículas INF', 'Qtde Matrículas INF_PRE',
       'Qtde Matrículas FUND', 'Qtde Matrículas MED',
       'Qtde Matrículas MED_PROP_NS', 'Qtde Matrículas MED_CT',
       'Qtde Matrículas MED_CT_NS', 'Qtde Matrículas MED_NM',
       'Qtde Matrículas PROF', 'Qtde Matrículas PROF_TEC',
       'Qtde Matrículas PROF_TEC_CONC', 'Qtde Matrículas PROF_TEC_SUBS',
       'Qtde Matrículas PROF_FIC_CONC'],
      dtype='object')

In [84]:
censo2023.nunique()

UF                                 27
NOME MUNICÍPIO                   5297
Possui Internet                     2
Internet Banda Larga                2
prof monitores                     63
aee                                 3
atividade complementar              3
ESCOLARIZACAO                       2
Ensino infantil                     2
Ensino Fundamental                  2
ensino médio                        2
ensino profisionalizante            2
ensino téc. prof.                   2
EJA                                 2
Educação Especial                   2
Qtde Matrículas INF               741
Qtde Matrículas INF_PRE           619
Qtde Matrículas FUND             1513
Qtde Matrículas MED              1432
Qtde Matrículas MED_PROP_NS       255
Qtde Matrículas MED_CT            727
Qtde Matrículas MED_CT_NS         149
Qtde Matrículas MED_NM            181
Qtde Matrículas PROF             1208
Qtde Matrículas PROF_TEC         1187
Qtde Matrículas PROF_TEC_CONC     436
Qtde Matrículas PROF_TEC_SUBS     822
Qtde Matrículas PROF_FIC_CONC     208
dtype: int64

In [85]:
censo2023['aee'].unique()

array([ 1.,  0., nan,  2.])

In [86]:
censo2023['atividade complementar'].unique()

array([ 0., nan,  1.,  2.])

In [87]:
censo2023.describe()

,Possui Internet,Internet Banda Larga,prof monitores,aee,atividade complementar,ESCOLARIZACAO,Ensino infantil,Ensino Fundamental,ensino médio,ensino profisionalizante,...,Qtde Matrículas MED,Qtde Matrículas MED_PROP_NS,Qtde Matrículas MED_CT,Qtde Matrículas MED_CT_NS,Qtde Matrículas MED_NM,Qtde Matrículas PROF,Qtde Matrículas PROF_TEC,Qtde Matrículas PROF_TEC_CONC,Qtde Matrículas PROF_TEC_SUBS,Qtde Matrículas PROF_FIC_CONC
count,180230.000000,163855.000000,180230.000000,180230.000000,180230.000000,180230.000000,178476.000000,178476.000000,178476.000000,178476.000000,...,178476.000000,178476.000000,178476.000000,178476.000000,178476.000000,178476.000000,178476.000000,178476.000000,178476.000000,178476.000000
mean,0.909144,0.866656,486.174766,0.223881,0.160739,0.990268,0.637413,0.679923,0.166711,0.051340,...,43.012747,0.829193,4.382264,0.215878,0.232289,13.524648,12.727801,1.857471,6.041109,0.330599
std,0.287405,0.339947,6553.254627,0.428385,0.378246,0.098170,0.480748,0.466507,0.372719,0.220691,...,145.512639,9.977978,45.098329,10.674526,7.626174,212.762399,211.686024,111.728424,165.842816,11.227197
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,88888.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2759.000000,567.000000,2490.000000,1470.000000,1471.000000,50898.000000,50898.000000,44903.000000,50898.000000,1430.000000

In [88]:
censo2023.to_csv("censo2023.csv", index=False)

In [89]:
censo2023 = censo2023.applymap(lambda x: x.upper() if isinstance(x, str) else x)
censo2023.columns = censo2023.columns.str.upper()

/tmp/ipykernel_19572/3451098709.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  censo2023 = censo2023.applymap(lambda x: x.upper() if isinstance(x, str) else x)

In [90]:
censo2023.head()

,UF,NOME MUNICÍPIO,POSSUI INTERNET,INTERNET BANDA LARGA,PROF MONITORES,AEE,ATIVIDADE COMPLEMENTAR,ESCOLARIZACAO,ENSINO INFANTIL,ENSINO FUNDAMENTAL,...,QTDE MATRÍCULAS MED,QTDE MATRÍCULAS MED_PROP_NS,QTDE MATRÍCULAS MED_CT,QTDE MATRÍCULAS MED_CT_NS,QTDE MATRÍCULAS MED_NM,QTDE MATRÍCULAS PROF,QTDE MATRÍCULAS PROF_TEC,QTDE MATRÍCULAS PROF_TEC_CONC,QTDE MATRÍCULAS PROF_TEC_SUBS,QTDE MATRÍCULAS PROF_FIC_CONC
0,RO,PORTO VELHO,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,RO,PORTO VELHO,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,RO,PORTO VELHO,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,...,354.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,RO,PORTO VELHO,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,RO,PORTO VELHO,1.0,1.0,5.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
censo2023.nunique()censo2023.info()

SyntaxError: invalid syntax (3585837318.py, line 1)

In [92]:
censo2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217625 entries, 0 to 217624
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   UF                             217625 non-null  object
 1   NOME MUNICÍPIO                 217625 non-null  object
 2   POSSUI INTERNET                180230 non-null  float64
 3   INTERNET BANDA LARGA           163855 non-null  float64
 4   PROF MONITORES                 180230 non-null  float64
 5   AEE                            180230 non-null  float64
 6   ATIVIDADE COMPLEMENTAR         180230 non-null  float64
 7   ESCOLARIZACAO                  180230 non-null  float64
 8   ENSINO INFANTIL                178476 non-null  float64
 9   ENSINO FUNDAMENTAL             178476 non-null  float64
 10  ENSINO MÉDIO                   178476 non-null  float64
 11  ENSINO PROFISIONALIZANTE       178476 non-null  float64
 12  ENSINO TÉC. PROF.              178476 non-null  float64
 13  EJA                            178476 non-null  float64
 14  EDUCAÇÃO ESPECIAL              178476 non-null  float64
 15  QTDE MATRÍCULAS INF            178476 non-null  float64
 16  QTDE MATRÍCULAS INF_PRE        178476 non-null  float64
 17  QTDE MATRÍCULAS FUND           178476 non-null  float64
 18  QTDE MATRÍCULAS MED            178476 non-null  float64
 19  QTDE MATRÍCULAS MED_PROP_NS    178476 non-null  float64
 20  QTDE MATRÍCULAS MED_CT         178476 non-null  float64
 21  QTDE MATRÍCULAS MED_CT_NS      178476 non-null  float64
 22  QTDE MATRÍCULAS MED_NM         178476 non-null  float64
 23  QTDE MATRÍCULAS PROF           178476 non-null  float64
 24  QTDE MATRÍCULAS PROF_TEC       178476 non-null  float64
 25  QTDE MATRÍCULAS PROF_TEC_CONC  178476 non-null  float64
 26  QTDE MATRÍCULAS PROF_TEC_SUBS  178476 non-null  float64
 27  QTDE MATRÍCULAS PROF_FIC_CONC  178476 non-null  float64
dtypes: float64(26), object(2)
memory usage: 46.5+ MB

In [94]:
# Lista de colunas a serem convertidas para booleano
colunas_booleanas = [
    "POSSUI INTERNET", "INTERNET BANDA LARGA", 
    "ESCOLARIZACAO", "ENSINO INFANTIL", "ENSINO FUNDAMENTAL", 
    "ENSINO MÉDIO", "ENSINO PROFISIONALIZANTE", 
    "ENSINO TÉC. PROF.", "EJA", "EDUCAÇÃO ESPECIAL"
]

# Criar um DataFrame apenas com as linhas que possuem valores nulos nessas colunas
bool_nulos_censo2023 = censo2023[censo2023[colunas_booleanas].isnull().any(axis=1)].copy()

# Remover as linhas nulas do dataset original e criar um novo dataset sem nulos
censo2023_sem_nulos = censo2023.dropna(subset=colunas_booleanas).copy()

# Converter as colunas para booleano no dataset sem nulos
censo2023_sem_nulos[colunas_booleanas] = censo2023_sem_nulos[colunas_booleanas].notna() & (censo2023_sem_nulos[colunas_booleanas] != 0)

censo2023_sem_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 162189 entries, 0 to 217624
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   UF                             162189 non-null  object
 1   NOME MUNICÍPIO                 162189 non-null  object
 2   POSSUI INTERNET                162189 non-null  bool
 3   INTERNET BANDA LARGA           162189 non-null  bool
 4   PROF MONITORES                 162189 non-null  float64
 5   AEE                            162189 non-null  float64
 6   ATIVIDADE COMPLEMENTAR         162189 non-null  float64
 7   ESCOLARIZACAO                  162189 non-null  bool
 8   ENSINO INFANTIL                162189 non-null  bool
 9   ENSINO FUNDAMENTAL             162189 non-null  bool
 10  ENSINO MÉDIO                   162189 non-null  bool
 11  ENSINO PROFISIONALIZANTE       162189 non-null  bool
 12  ENSINO TÉC. PROF.              162189 non-null  bool
 13  EJA                            162189 non-null  bool
 14  EDUCAÇÃO ESPECIAL              162189 non-null  bool
 15  QTDE MATRÍCULAS INF            162189 non-null  float64
 16  QTDE MATRÍCULAS INF_PRE        162189 non-null  float64
 17  QTDE MATRÍCULAS FUND           162189 non-null  float64
 18  QTDE MATRÍCULAS MED            162189 non-null  float64
 19  QTDE MATRÍCULAS MED_PROP_NS    162189 non-null  float64
 20  QTDE MATRÍCULAS MED_CT         162189 non-null  float64
 21  QTDE MATRÍCULAS MED_CT_NS      162189 non-null  float64
 22  QTDE MATRÍCULAS MED_NM         162189 non-null  float64
 23  QTDE MATRÍCULAS PROF           162189 non-null  float64
 24  QTDE MATRÍCULAS PROF_TEC       162189 non-null  float64
 25  QTDE MATRÍCULAS PROF_TEC_CONC  162189 non-null  float64
 26  QTDE MATRÍCULAS PROF_TEC_SUBS  162189 non-null  float64
 27  QTDE MATRÍCULAS PROF_FIC_CONC  162189 non-null  float64
dtypes: bool(10), float64(16), object(2)
memory usage: 25.1+ MB

In [95]:
# Lista de colunas a serem convertidas para inteiro
colunas_inteiras = [
    "PROF MONITORES", "AEE", "ATIVIDADE COMPLEMENTAR",
    "QTDE MATRÍCULAS INF", "QTDE MATRÍCULAS INF_PRE", 
    "QTDE MATRÍCULAS FUND", "QTDE MATRÍCULAS MED", 
    "QTDE MATRÍCULAS MED_PROP_NS", "QTDE MATRÍCULAS MED_CT", 
    "QTDE MATRÍCULAS MED_CT_NS", "QTDE MATRÍCULAS MED_NM", 
    "QTDE MATRÍCULAS PROF", "QTDE MATRÍCULAS PROF_TEC", 
    "QTDE MATRÍCULAS PROF_TEC_CONC", "QTDE MATRÍCULAS PROF_TEC_SUBS", 
    "QTDE MATRÍCULAS PROF_FIC_CONC"
]

# Criar um DataFrame separado com as linhas que possuem valores nulos nessas colunas
int_nulos_censo2023 = censo2023_sem_nulos[censo2023_sem_nulos[colunas_inteiras].isnull().any(axis=1)].copy()

# Remover as linhas nulas diretamente de censo2023_sem_nulos
censo2023_sem_nulos.dropna(subset=colunas_inteiras, inplace=True)

# Converter as colunas para inteiro
censo2023_sem_nulos[colunas_inteiras] = censo2023_sem_nulos[colunas_inteiras].astype(int)

# Exibir os resultados
censo2023_sem_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 162189 entries, 0 to 217624
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   UF                             162189 non-null  object
 1   NOME MUNICÍPIO                 162189 non-null  object
 2   POSSUI INTERNET                162189 non-null  bool
 3   INTERNET BANDA LARGA           162189 non-null  bool
 4   PROF MONITORES                 162189 non-null  int64
 5   AEE                            162189 non-null  int64
 6   ATIVIDADE COMPLEMENTAR         162189 non-null  int64
 7   ESCOLARIZACAO                  162189 non-null  bool
 8   ENSINO INFANTIL                162189 non-null  bool
 9   ENSINO FUNDAMENTAL             162189 non-null  bool
 10  ENSINO MÉDIO                   162189 non-null  bool
 11  ENSINO PROFISIONALIZANTE       162189 non-null  bool
 12  ENSINO TÉC. PROF.              162189 non-null  bool
 13  EJA                            162189 non-null  bool
 14  EDUCAÇÃO ESPECIAL              162189 non-null  bool
 15  QTDE MATRÍCULAS INF            162189 non-null  int64
 16  QTDE MATRÍCULAS INF_PRE        162189 non-null  int64
 17  QTDE MATRÍCULAS FUND           162189 non-null  int64
 18  QTDE MATRÍCULAS MED            162189 non-null  int64
 19  QTDE MATRÍCULAS MED_PROP_NS    162189 non-null  int64
 20  QTDE MATRÍCULAS MED_CT         162189 non-null  int64
 21  QTDE MATRÍCULAS MED_CT_NS      162189 non-null  int64
 22  QTDE MATRÍCULAS MED_NM         162189 non-null  int64
 23  QTDE MATRÍCULAS PROF           162189 non-null  int64
 24  QTDE MATRÍCULAS PROF_TEC       162189 non-null  int64
 25  QTDE MATRÍCULAS PROF_TEC_CONC  162189 non-null  int64
 26  QTDE MATRÍCULAS PROF_TEC_SUBS  162189 non-null  int64
 27  QTDE MATRÍCULAS PROF_FIC_CONC  162189 non-null  int64
dtypes: bool(10), int64(16), object(2)
memory usage: 25.1+ MB

In [ ]:
import streamlit as st
import pandas as pd
import plotly.express as px
import os

st.title("Análise dos Dados dos Alunos do PRODITEC")

# Função para carregar os dados a partir de um arquivo CSV local
@st.cache_data
def load_data(file_path):
    if os.path.exists(file_path):
        df = pd.read_csv(file_path)
        return df
    else:
        st.error(f"Erro ao carregar dados do arquivo: {file_path}")
        return pd.DataFrame()

# Caminhos dos arquivos locais
file_2024 = "dados_2024.csv"
file_2025 = "dados_2025.csv"

# Carregar os dados dos semestres
st.header("Dados 2024-2")
df_2024 = load_data(file_2024)
if not df_2024.empty:
    st.write("Visualização dos primeiros registros:", df_2024.head())

st.header("Dados 2025-1 (Inscritos)")
df_2025 = load_data(file_2025)
if not df_2025.empty:
    st.write("Visualização dos primeiros registros:", df_2025.head())

# -----------------------------------------
st.subheader("Distribuição Geográfica por SIGLA UF")
# Para 2024-2
if not df_2024.empty and 'SIGLA UF' in df_2024.columns:
    contagem_estado_2024 = df_2024['SIGLA UF'].value_counts().reset_index()
    contagem_estado_2024.columns = ['SIGLA UF', 'quantidade']
    fig_2024 = px.bar(contagem_estado_2024, x='SIGLA UF', y='quantidade',
                      title="Alunos por Estado (2024-2)")
    st.plotly_chart(fig_2024)
else:
    st.write("Coluna 'SIGLA UF' não encontrada em 2024-2.")

# Para 2025-1
if not df_2025.empty and 'SIGLA UF' in df_2025.columns:
    contagem_estado_2025 = df_2025['SIGLA UF'].value_counts().reset_index()
    contagem_estado_2025.columns = ['SIGLA UF', 'quantidade']
    fig_2025 = px.bar(contagem_estado_2025, x='SIGLA UF', y='quantidade',
                      title="Inscritos por Estado (2025-1)")
    st.plotly_chart(fig_2025)
else:
    st.write("Coluna 'SIGLA UF' não encontrada em 2025-1.")

# -----------------------------------------
st.subheader("Distribuição Geográfica por Região")
# Supondo que os dados possuam uma coluna 'regiao'
if not df_2024.empty and 'regiao' in df_2024.columns:
    contagem_regiao_2024 = df_2024['regiao'].value_counts().reset_index()
    contagem_regiao_2024.columns = ['regiao', 'quantidade']
    fig_regiao_2024 = px.pie(contagem_regiao_2024, names='regiao', values='quantidade',
                             title="Distribuição por Região (2024-2)")
    st.plotly_chart(fig_regiao_2024)
else:
    st.write("Coluna 'regiao' não encontrada em 2024-2.")

if not df_2025.empty and 'regiao' in df_2025.columns:
    contagem_regiao_2025 = df_2025['regiao'].value_counts().reset_index()
    contagem_regiao_2025.columns = ['regiao', 'quantidade']
    fig_regiao_2025 = px.pie(contagem_regiao_2025, names='regiao', values='quantidade',
                             title="Distribuição por Região (2025-1)")
    st.plotly_chart(fig_regiao_2025)
else:
    st.write("Coluna 'regiao' não encontrada em 2025-1.")

# -----------------------------------------
st.header("Taxa de Evasão (2024-2)")
# Supondo que os dados de 2024-2 possuam uma coluna 'status'
# onde, por exemplo, "evasao" indica a evasão do aluno
if not df_2024.empty and 'status' in df_2024.columns:
    total_alunos = len(df_2024)
    alunos_evasao = df_2024[df_2024['status'] == 'evasao']
    taxa_evasao = (len(alunos_evasao) / total_alunos) * 100
    st.write(f"Taxa de evasão (2024-2): {taxa_evasao:.2f}%")
else:
    st.write("Dados de evasão não disponíveis para 2024-2.")

# -----------------------------------------
st.header("Comparação de Estatísticas")
if not df_2024.empty and not df_2025.empty:
    total_2024 = len(df_2024)
    total_2025 = len(df_2025)
    st.write(f"Total de alunos em 2024-2: {total_2024}")
    st.write(f"Total de inscritos em 2025-1: {total_2025}")
    # Adicione outras estatísticas para comparação conforme os dados disponíveis,
    # como média de idade, distribuição de gênero, etc.
else:
    st.write("Dados insuficientes para comparação entre semestres.")

In [96]:
censo2023_sem_nulos.reset_index().to_csv('censo2023_sem_nulos.csv')