In [26]:
import streamlit as st
import requests
import pandas as pd
import plotly.express as px
from io import StringIO
import os

In [27]:
consolidado_matriculas = pd.read_csv('consolidado_matriculas.csv')

In [28]:
consolidado_matriculas.drop('Unnamed: 0',axis=1 ,inplace=True)

In [29]:
consolidado_matriculas.head()

,UF,NOME MUNICÍPIO,POSSUI INTERNET,INTERNET BANDA LARGA,PROF MONITORES,AEE,ATIVIDADE COMPLEMENTAR,ESCOLARIZACAO,ENSINO INFANTIL,ENSINO FUNDAMENTAL,ENSINO MÉDIO,ENSINO PROFISIONALIZANTE,ENSINO TÉC. PROF.,EJA,EDUCAÇÃO ESPECIAL,QTDE MATRÍCULAS
0,RO,PORTO VELHO,True,True,1,1,0,True,False,True,False,False,False,False,True,69
1,RO,PORTO VELHO,True,True,0,1,0,True,True,False,False,False,False,False,True,450
2,RO,PORTO VELHO,True,True,0,0,0,True,True,True,True,False,False,False,True,1269
3,RO,PORTO VELHO,True,True,0,0,0,True,True,True,False,False,False,False,True,51
4,RO,PORTO VELHO,True,True,5,0,0,True,True,True,False,False,False,False,True,726

In [30]:
excluir = [
    'POSSUI INTERNET', 'INTERNET BANDA LARGA', 'PROF MONITORES', 'AEE', 'ATIVIDADE COMPLEMENTAR', 'ESCOLARIZACAO', 'ENSINO INFANTIL', 'ENSINO FUNDAMENTAL', 'ENSINO MÉDIO', 'ENSINO PROFISIONALIZANTE', 'EJA', 'EDUCAÇÃO ESPECIAL', 'ENSINO TÉC. PROF.'
]

In [31]:
consolidado_matriculas.drop(columns=excluir,axis=1 ,inplace=True)
consolidado_matriculas.head()

   UF NOME MUNICÍPIO  QTDE MATRÍCULAS
0  RO    PORTO VELHO               69
1  RO    PORTO VELHO              450
2  RO    PORTO VELHO             1269
3  RO    PORTO VELHO               51
4  RO    PORTO VELHO              726

In [33]:
consolidado_matriculas.describe()

       QTDE MATRÍCULAS
count    162189.000000
mean        336.802280
std         732.139236
min           0.000000
25%          96.000000
50%         215.000000
75%         429.000000
max      152694.000000

In [38]:
# Agrupa por 'NOME MUNICÍPIO' e calcula as estatísticas descritivas
estatisticas = consolidado_matriculas.groupby('NOME MUNICÍPIO').agg({
        'QTDE MATRÍCULAS': [('N_ESCOLAS', 'size'), ('TOTAL', 'sum'), ('MEDIA', 'mean'), ('MEDIANA', 'median'), 
                        ('MIN', 'min'), ('MAX', 'max'), ('25%', lambda x: x.quantile(0.25)), 
                        ('50%', lambda x: x.quantile(0.5)), ('75%', lambda x: x.quantile(0.75))],
    'UF': ['first']  # Mantém a coluna 'UF' para cada grupo
})

# Renomeia as colunas das estatísticas descritivas
estatisticas.columns = [f"{i}" if i == "mean" else f"{i}_{j}" for i, j in estatisticas.columns]

# Junta os nomes das colunas para uma visualização mais clara
estatisticas.columns = ['N_ESCOLAS', 'TOTAL', 'MEDIA', 'MEDIANA', 'MIN', 'MAX', 'q25', 'q50', 'q75', 'UF']
estatisticas.head()

,N_ESCOLAS,TOTAL,MEDIA,MEDIANA,MIN,MAX,q25,q50,q75,UF
NOME MUNICÍPIO,,,,,,,,,,
ABADIA DE GOIÁS,9,4612,512.444444,569.0,144,910,222.00,569.0,602.00,GO
ABADIA DOS DOURADOS,4,1029,257.250000,250.0,29,500,94.25,250.0,413.00,MG
ABADIÂNIA,12,3768,314.000000,195.5,70,986,183.25,195.5,305.75,GO
ABAETETUBA,159,50833,319.704403,166.0,0,4090,79.50,166.0,366.50,PA
ABAETÉ,18,4736,263.111111,205.5,0,832,30.50,205.5,391.25,MG

In [39]:
estatisticas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5297 entries, ABADIA DE GOIÁS to ÓLEO
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   N_ESCOLAS  5297 non-null   int64
 1   TOTAL      5297 non-null   int64
 2   MEDIA      5297 non-null   float64
 3   MEDIANA    5297 non-null   float64
 4   MIN        5297 non-null   int64
 5   MAX        5297 non-null   int64
 6   q25        5297 non-null   float64
 7   q50        5297 non-null   float64
 8   q75        5297 non-null   float64
 9   UF         5297 non-null   object
dtypes: float64(5), int64(4), object(1)
memory usage: 455.2+ KB

In [43]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt

# Carregar os dados (substituir pelo caminho real do arquivo)
@st.cache_data
def load_data():
    return pd.read_csv("consolidado_matriculas.csv")

df = load_data()

# Excluir colunas indesejadas
colunas_excluir = [
    'POSSUI INTERNET', 'INTERNET BANDA LARGA', 'PROF MONITORES', 'AEE', 'ATIVIDADE COMPLEMENTAR', 
    'ESCOLARIZACAO', 'ENSINO INFANTIL', 'ENSINO FUNDAMENTAL', 'ENSINO MÉDIO', 'ENSINO PROFISIONALIZANTE', 
    'EJA', 'EDUCAÇÃO ESPECIAL', 'ENSINO TÉC. PROF.'
]
df.drop(columns=colunas_excluir, inplace=True, errors='ignore')

# Agrupar os dados por UF e calcular estatísticas
dados_uf = df.groupby('UF').agg({'QTDE MATRÍCULAS': ['sum', 'mean', 'median', 'min', 'max', lambda x: x.quantile(0.25), lambda x: x.quantile(0.75)]})
dados_uf.columns = ['TOTAL', 'MEDIA', 'MEDIANA', 'MIN', 'MAX', 'Q25', 'Q75']
dados_uf.reset_index(inplace=True)

# Exibir o gráfico geral por UF
st.title("Análise de Matrículas por UF")
st.dataframe(dados_uf)

fig, ax = plt.subplots()
ax.bar(dados_uf['UF'], dados_uf['TOTAL'], color='blue')
ax.set_xlabel("UF")
ax.set_ylabel("Total de Matrículas")
ax.set_title("Distribuição de Matrículas por UF")
st.pyplot(fig)

# Selecionar UF para detalhamento
uf_selecionada = st.selectbox("Selecione uma UF para ver os dados por município:", dados_uf['UF'].unique())

# Filtrar dados por município dentro da UF selecionada
dados_municipios = df[df['UF'] == uf_selecionada].groupby('NOME MUNICÍPIO').agg({'QTDE MATRÍCULAS': ['sum', 'mean', 'median', 'min', 'max', lambda x: x.quantile(0.25), lambda x: x.quantile(0.75)]})
dados_municipios.columns = ['TOTAL', 'MEDIA', 'MEDIANA', 'MIN', 'MAX', 'Q25', 'Q75']
dados_municipios.reset_index(inplace=True)

st.dataframe(dados_municipios)

fig, ax = plt.subplots(figsize=(10, 5))
ax.barh(dados_municipios['NOME MUNICÍPIO'], dados_municipios['TOTAL'], color='green')
ax.set_xlabel("Total de Matrículas")
ax.set_ylabel("Municípios")
ax.set_title(f"Distribuição de Matrículas nos Municípios de {uf_selecionada}")
st.pyplot(fig)

2025-02-12 08:41:53.060 No runtime found, using MemoryCacheStorageManager
2025-02-12 08:41:53.061 No runtime found, using MemoryCacheStorageManager
2025-02-12 08:41:53.061 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.061 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.061 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.149 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.149 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.171 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.171 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.182 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.182 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.197 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.278 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.278 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.279 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.279 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.280 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.280 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.280 Session state does not function when running a script without `streamlit run`
2025-02-12 08:41:53.280 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.281 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.294 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.294 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.302 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.474 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-12 08:41:53.475 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()